<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  var app = new Vue({
    el: "#app",
    data: {
      template: null,
      folder: null,
      name: null,
      loading: true,
      picking: null,
      lastfile: null,
      proKey: null,
      plan: "free",
      errors: []
    },
    methods: {
      // Select or remove template file
      selectTemplate: function() {
        this.startPicking();
        google.script.run.selectTemplate();
      },
      removeTemplate: function() {
        this.template = null;
        google.script.run.removeTemplate();
      },

      // Select or remove output folder
      selectFolder: function() {
        this.startPicking();
        google.script.run.selectFolder();
      },
      removeFolder: function() {
        this.folder = null;
        google.script.run.removeFolder();
      },

      // Call server to start cards generation
      generate: function() {
        var app = this;
        this.loading = true;
        google.script.run
          .withSuccessHandler(app.onGenerated)
          .generate(this.name);
      },

      // Start and stop picking interval (will refresh untill server returns files)
      startPicking: function() {
        var app = this;

        this.picking = setInterval(function() {
          google.script.run.withSuccessHandler(app.onUpdatedFiles).getFiles();
        }, 100);
      },
      stopPicking: function() {
        clearInterval(this.picking);
      },

      // Callback after generation completed by server
      onGenerated: function(data) {
        this.loading = false;
        this.lastfile = "https://docs.google.com/presentation/d/" + data;
      },

      // Callback after files picked in picker
      onUpdatedFiles: function(data) {
        if (data) {
          var template = JSON.parse(data.template);
          var folder = JSON.parse(data.folder);

          if (template) {
            this.template = template;
          }

          if (folder) {
            this.folder = folder;
          }

          this.stopPicking();
        }
      },

      // On submit proKey clicked button
      submitProKey: function() {
        google.script.run
          .withSuccessHandler(app.onSubmittedProKey)
          .submitProKey(this.proKey);
      },

      // On submit proKey clicked button
      removeProKey: function() {
        google.script.run.withSuccessHandler().removeProKey();
        this.plan = "free";
        this.handleErrors();
      },

      onSubmittedProKey: function(isPro) {
        this.plan = isPro ? "pro" : "free";
        if (!isPro && this.proKey) {
          this.handleErrors(["Key is not valid"]);
        }
      },

      handleErrors: function(errors) {
        if (errors) {
          this.errors = errors;
        } else {
          this.errors = [];
        }
      },

      goPro: function() {},

      // Called on mounted, get isPro and files from server
      onConfig: function(data) {
        if (data) {
          this.onUpdatedFiles(data.files);
          this.onSubmittedProKey(data.isPro);
        }

        this.loading = false;
      }
    },

    // On mounted retrieve previously selected template, folder from cache plus retrieve mode (pro or free)
    mounted: function() {
      var app = this;
      google.script.run.withSuccessHandler(app.onConfig).getConfig();
    }
  });
</script>
